/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body {
  margin: 0;
  padding:0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Custom layout */
.box-color-select .react-colorful {
  padding: 16px;
  border-radius: 12px;
  background: #33333a;
  box-shadow: 0 6px 12px #999;
}

.box-color-select .react-colorful__saturation {
  margin: 15px 0;
  border-radius: 5px;
  border-bottom: none;
}

.box-color-select .react-colorful__hue {
  order: -1;
}

.box-color-select .react-colorful__hue,
.box-color-select .react-colorful__alpha {
  height: 14px;
  border-radius: 5px;
}

.box-color-select .react-colorful__hue-pointer,
.box-color-select .react-colorful__alpha-pointer {
  width: 20px;
  height: 20px;
}